{
    admin off
    auto_https off
}

:8080 {
    handle {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "OPTIONS,GET"

        root * /var/www
        file_server
    }
    respond "404 not found" 404
}
