# general settings
PUID=1000
PGID=1000

# app data/information root
# i.e. caches, logs, private configs, etc.
APP_ROOT=./apps

# set domain in headscale/config/config.yaml

### authentik ###
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# add PG_PASS and AUTHENTIK_SECRET_KEY by running:
# ```
# echo "PG_PASS=$(openssl rand -base64 36 | tr -d '\n')" >> .env
# echo "AUTHENTIK_SECRET_KEY=$(openssl rand -base64 60 | tr -d '\n')" >> .env
# ```
