# general settings
PUID=1000
PGID=1000

# set domain in headscale/config/config.yaml and traefik/config/traefik.yaml as well
DOMAINNAME=example.com

TZ=America/New_York

# also set ACME email in traefik/config/traefik.yaml

### authentik ###
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# Cloudflare API key for DNS challenge
CF_API_EMAIL=
CF_DNS_API_TOKEN=

# add PG_PASS and AUTHENTIK_SECRET_KEY by running:
# ```
# echo "PG_PASS=$(openssl rand -base64 36 | tr -d '\n')" >> .env
# echo "AUTHENTIK_SECRET_KEY=$(openssl rand -base64 60 | tr -d '\n')" >> .env
# ```
